.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    height: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}

.header-user {
    text-align: center;
    margin: auto;
    margin-inline-end: 1em;
    padding-block: .5em;
}

.header-user p {
    margin-block: 0;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}